<config platform="project" template="project (default)">Created: Fri Dec 5 15:41:18 2014
By: Pawan
Using Template: project (default)

&lt;description to go here>
<option value="" name="icon" fromDef="true"/>
    <option value="" name="splashscreen" fromDef="true"/>
    <option value="" name="splashscreen-use-all" fromDef="true"/>
    <option value="" name="splashscreen-auto-onblack" fromDef="true"/>
    <option value="Default" name="assets" fromDef="true"/>
    <option value="" name="embed-icf" fromDef="true"/>
    <option value="" name="config" fromDef="true"/>
    <option value="C Questions" name="name" fromDef="true"/>
    <option value="C Questions" name="caption" fromDef="true"/>
    <option value="Pawan" name="provider" fromDef="true"/>
    <option value="(C) Pawan" name="copyright" fromDef="true"/>
    <option value="0.0.1" name="version" fromDef="true"/>
    <option value="" name="version-string" fromDef="true"/>
</config>
